main {
    background-color: #0f141f;
    height: 100%;
}

body {
    width: 100%;
    margin: 0; /* top & bottom (1st), left & right (2nd) */;
    /* works for both margin and padding */
    font-size: 22px;
    /* top, right, bottom, left in order */
    background-color: #0f141f;
}

.header-container {
    margin: 0 auto;
    width: 700px;
    height: 180px;
}

.top-padding-container {
    margin: 0 auto;
    height: 80px;
}

.background-stripe {
    margin: 0 auto;
    position: relative;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/016/586/639/small/abstract-gray-futuristic-pattern-for-banner-frame-png.png'), linear-gradient(#4672bd, #77deca);
    opacity: 90%;
    background-position: left bottom, center;
    background-repeat: no-repeat, no-repeat;
    height: 100px;
    border-radius: 10px;
}

.background-stripe image {
    margin: 0 auto;
}



@keyframes cycle {
  0% {
    content: "Innovate,";
  }
  33% {
    content: "Construct,";
  }
  66% {
    content: "Research,";
  }
  100% {
    content: "Innovate,";
  }
}

h2.xeno-header::after {
    animation-name: cycle;
    animation-timing-function: ease-in-out;
    animation-duration: 9s;
    content: "";
    animation-iteration-count: infinite;
}

h2.xeno-header {
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-shadow: 5px 7px rgb(28, 28, 41);
    font-size: 120px;
}


h2.xeno-subheader {
    -webkit-text-fill-color: #77deca;
    font-weight: bold;
    text-shadow: 5px 7px rgb(28, 28, 41);
    -webkit-text-stroke: 0.1px rgb(216, 242, 255);
    font-size: 110px;
}

.xeno-background {
    width: 100%;
    height: 700px;
    background-image: url('https://www.wallpapertip.com/wmimgs/165-1657686_2629299-1920-by-1080-hd-wallpapers-stellaris-desktop.jpg');
    margin: 0 auto;
    background-size: cover;
    opacity: 62%;
}

p {
    font-size: 30px;
    line-height: 2; /* margin between lines */
    letter-spacing: 4px; /* spacing between letters */
    font-family: 'Space Mono';
}


nav#navbar  {
    width: 100%;
    background-color: #0f141f;
}

nav#navbar ul {
    width: 1488px;
    margin: 0;
    display: inline-block;
    padding-left: 200px;
}

.faction-logo img {
    position: absolute;
    padding-left: 85px;
    opacity: 60%;
    display: inline-block; 
    width: 50px; 
    height: 50px
}

nav#navbar ul li {
    display: inline-block;
    padding: 12px 30px;
}

nav#navbar ul li:hover {
    background-color: #101623;
}

nav#navbar ul li:hover a {
    opacity: 100%;
}

nav#navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #6fb3d2;
    opacity: 82%;
}

.log-buttons {
    margin: 60px auto;
    align-content: center;
    width: 80%;
    height: 80px;
}


.log-buttons ul {
    font-family: 'Space Mono';
    font-size: 20px;
    text-align: center;
}

.log-buttons ul li {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(48, 68, 93);
    background-image: linear-gradient(#4672bd, #77deca);
    padding: 20px;
    margin: 0 40px;
    transition: transform 0.3s ease;
}

.log-buttons ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    text-shadow: 1.3px 1.3px rgb(28, 28, 41);
    font-family: 'Michroma';
}

.log-buttons ul li:hover {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/016/586/639/small/abstract-gray-futuristic-pattern-for-banner-frame-png.png'), linear-gradient(#3478ec, #65f3d6);
    background-position: left top, center;
    background-repeat: no-repeat, no-repeat;
    transform: translateY(-5px);
}

.scrolling-article {
    width: 100%;
    height: 400px;
    background-color: #6fb3d2;
}

/* FONTS */

h2.xeno-header, h2.xeno-subheader {
    font-family: 'Orbitron';
    text-align: center;
    margin: 0; /* removes header */
}

nav#navbar ul li a, .log-buttons ul li a {
    font-family: 'Space Mono';
}

.opacity {
    width: 100%;
    height: 700px;
    position: absolute;
    background-image: linear-gradient(rgba(255,0,0,0), #5c806d);
}